     .nav-item,ul{
       
        list-style-type: none;
        text-decoration-color: white;
        overflow: hidden;
        margin-right: 15px;
        font-size: 2rem;
        padding: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        color: #000000; 
            
       }
      
       .li{
           float: right;
       }
       .home{
        
        font-weight: bold;
       }

       li a{
        display: block;
        margin: 20px;
        text-decoration: none;
        font-family: roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
       }
       
       .active {
        background: rgba(54, 159, 255, 0.5);
        border: 3px solid #369FFF;
        box-shadow: 0px 4px 5px rgba(54, 159, 255, 0.5);
        border-radius: 20px;
        width: 133px;
        height: 40px;
        left: 1218px;
        top: 46px;
        text-align: center;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
           
       }

       .hotel-text{
        font-family: Fredoka One;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 80px;
        margin-left: 65px;
           
       }

       .hotel-footer{
           background-color: #C4C4C4;
           height: 300px;
       }

       footer h1{
           font-size: 35px;
           font-weight: 700;
           padding-top: 250px;
       }

       

